html {
    box-sizing: border-box;
}
  *, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

a {
    color: #EF233C;
}
a:hover {
    text-decoration: none;
}

h1, h2 {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
}
h1 {
    font-size: 60px;
}
h2 {
    font-size: 20px;
    margin-top: 0;
}

.content-wrap {
    max-width: 950px;
    margin: 0 auto;
    padding: 50px;
    overflow: hidden;
    /* border: solid red 2px; */
}

.column-narrow {
    width: 35%;
    float: left;
    padding-right: 3%;
    min-height: 175px;
}
.column-wide {
    width: 62%;
    float: left;
    min-height: 175px;
    padding: 10px;
}

#header, 
#footer {
  background: #2B2D42;
  color: #8D99AE;
}

#header h1,
#header h2 {
    color: #EDF2F4;
    margin: 0;
}

img {
    width: 1000px;
    border-radius: 50%;
}

#footer {
    text-align: center;
    /* border: red solid 2px; */
}

.contact-info a {
    padding: 10px;
    display: inline-block;
    /* border: red solid 2px; */
}

.work {
    background: #EDF2F4;
}

.education {
    background: #8D99AE;
}

.additional-information {
    background: #CD853F;
}

.other-activities {
    background: #FFEFD5;
}

.portfolio {
    background: #FFE4C4;
}

@media (max-width: 960px) {
    .letterbox {
    width: 100%;
    height: 100%;
        }
}

@media (max-width: 600px) {
    .letterbox {
    width: 100%;
    height: 100%;
        }
}
