body {
    margin: 0px;
    padding: 0px;
    margin-top: 100px;
    background-color:grey;
    margin-bottom: 80px;
}

#header {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: lightgrey;
    text-align: center;
    padding-bottom: 5px;
        
}

a {
    padding-left: 10px;
    padding-right: 10px;
}

#content {
    width: 600px;
    margin: auto;

}

.bread {
    text-align: center;
    width: 75%;
    margin: auto;
    
}

h1 {
    font-family: Arial;
    text-align: center;
    font-variant: small-caps;
    
}

h3 {
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    font-family: Arial;
    text-align: center;
    font-variant: small-caps;
    /*display: inline-block;*/

}

@media (max-width: 600px) {
    body {
        background-color: purple;
    }

}

img {
border: 5px solid black;
border-radius: 5px;
margin: auto;
}

.people th, td  {
    border: 5px solid black;
    width: 500px;
    margin: 100px;
}

#footer {
    text-align: center;
    color: black;
    background-color: lightgrey;
    bottom: 0; 
    right: 0;
    height: 50px;
    width: 100%;
    position: fixed;
}
